@import "colors.scss";
@import "font.scss";

.texte-coll h1{
    display: inline-block;
    margin-top: 149px;
    margin-bottom: 95px;
}

.pastille-collections {
    float: none;
}

.texte-coll p{
    margin-bottom: 153px;
}

.secondaire img{
    margin-left: 34px;
}

.secondaire {
    margin-bottom: 22.5%;
}

.coll-en-ligne {
    display: inline-block;
}

.texte-coll {
    float: left;
    width: 44%;
}

.image-coll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

img.grille {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    margin-left: 65%;
}

.pres {
    grid-column: 3 / 3;
    grid-row: 3 / 6;
}


html, body {
    position: relative;
    height: 100%;
}
body {
    //background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: left;
}

.swiper-slide h2{
    text-transform: uppercase;
    font-family: Benton Sans-Medium;
}

.swiper-container-vertical>.swiper-wrapper {
    margin: 0 134px;
    width: auto;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    display: inline-block;
}
span.swiper-pagination-bullet {
    background-color: $color-summer-sky;
}


p.texte-pleine-page {
    float: left;
    margin-top: 76px;
}

.legende-pleine-page {
    color: $color-summer-sky;
    margin-top: 16px;
}

.pleine-page {
    float: left;
    width: 50%;
    margin-top: 136px;
}

.image-pleine-page {
    float: right;
}

.lien-collection {
    color: $color-nero;
    text-decoration: none;
}
.lien-collection:hover {
    border-bottom: 3px solid $color-summer-sky;
}