
/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/

$color-golden-tainoi : #F9C149;
$color-cinnabar : #EF4B28;
$color-dark-pastel-green : #00C64B;
$color-summer-sky : #30C4EE;
$color-snow : #FBFBFB;
$color-white : #FFFFFF;
$color-whisper : #ECECEC;
$color-very-light-grey : #CCCCCC;
$color-grey : #888888;
$color-nero : #262626;