@font-face {
  font-family: Benton Sans-Regular;
  src: url("../fonts/BentonSans Regular.otf");
}

@font-face {
  font-family: Benton Sans-Medium;
  src: url("../fonts/BentonSans Medium.otf");
}

@font-face {
  font-family: Benton Sans-Book;
  src: url("../fonts/BentonSans Book.otf");
}

@font-face {
  font-family: Benton Sans-Bold;
  src: url("../fonts/BentonSans Bold.otf");
}