@import "colors.scss";

footer{
    background: $color-white;
}

.liens{
    color: $color-grey;
}

.liens:hover{
    color: $color-nero;
}

.titre-footer{
    font-family: Benton Sans-Bold;
    font-size: 25px;
}

.bloc{
    color: $color-nero;
}