@import "colors.scss";
@import "font.scss";

footer{
    background: $color-white;
    padding: 30px 100px;
}

.liens{
    color: $color-grey;
}

.liens:hover{
    color: $color-nero;
}

.titre-footer{
    font-family: Benton Sans-Bold;
    font-size: 25px;
}

button {
    background-image: url("../../../assets/media/img/Desktop/Footer/Icones/Recherche.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: none; 
}

.millieu{
    display: flex;
    flex-wrap: wrap;
}

.liste-mecene{
    display: flex;
}