@import "colors.scss";

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 180px;
}


.swiper-slide {
  margin: 0;
}

.cat-legende {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 25px 102px 25px 139px;
}

.swiper-button-next {
  top: 90%;
  display: flex;
  left: 92%;
}

.swiper-button-prev {
  top: 90%;
  display: flex;
  left: 88%;
}

.swiper-slide {
  flex-shrink: inherit;
}


#musee {
  display: flex;
  background-image: url(../media/img/grille-collections.svg);
  background-position: 0 115px;
  background-repeat: no-repeat;
  width: 91%;
  padding-left: 9%;
  padding-bottom: 17%;
}

#img-musee {
  background-image: url(../media/img/le-musee.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

#musee .card {
  margin-left: -10%;
  margin-top: 30%;
  background-color: #FFFFFF;
  height: 46%;
  width: 51%;
  padding: 52px;
  top: 13%;
  position: relative;
}

#musee .primaire {
  background-image: url(../media/img/icons/fleche-jaune.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 4px solid $color-golden-tainoi;
  float: left;
  background-color: $color-white;
  background-position: center;
}

#musee .primaire:hover {
  background-image: url(../media/img/icons/fleche-hover.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 4px solid $color-golden-tainoi;
  float: left;
  background-color: $color-golden-tainoi;
  background-position: center;
  cursor: pointer;
}

#musee .texte-bouton {
  text-align: left;
  float: left;
  margin: 16px 0 16px 20px;
  color: $color-golden-tainoi;
}

#collections {
  display: flex;
  background-image: url(../media/img/grille-collections.svg);
  background-position-x: right;
  background-position-y: 115px;
  background-repeat: no-repeat;
  width: 91%;
  margin-bottom: 15%;
  padding-bottom: 17%;
  padding-right: 9%;
}

#img-collections {
  background-image: url(../media/img/Collections.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

#collections .card {
  margin-top: 30%;
  background-color: #FFFFFF;
  width: 36%;
  padding: 52px;
  top: 22%;
  position: relative;
  float: right;
  left: 10%;
}

#collections .titre {
  display: inline-block;
}

#collections .primaire:hover {
  cursor: pointer;
}

.titre h1 {
  float: left;
  margin: 5px 0;
}

.cat p {
  float: right;
  margin-top: 38px;
}

.primaire {
  background-image: url(../media/img/icons/fleche.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 4px solid $color-summer-sky;
  float: left;
  background-color: $color-white;
  background-position: center;
}

.primaire:hover {
  background-image: url(../media/img/icons/fleche-hover.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border: 4px solid $color-summer-sky;
  float: left;
  background-color: $color-summer-sky;
  background-position: center;
}

.carre {
  width: 100%;
}

.texte-bouton {
  text-align: left;
  float: left;
  margin: 16px 0 16px 20px;
  color: $color-summer-sky;
}

.swiper-slide img {
  width: inherit;
}