@import "colors.scss";
h1 {
    margin-top: 56px;
    display: inline-block;
    margin-bottom: 27px;
}
#Nav {
    position: sticky;
    width: 1578px;
    height: 194px;
    left: 171px;
    top: 315px;
    overflow: visible;
}
.Ligne_134 {
    overflow: visible;
    position: absolute;
    width: 1579px;
    height: 1px;
    left: 0px;
    top: 130px;
    transform: matrix(1,0,0,1,0,0);
}
.pastille {
    position: absolute;
    overflow: visible;
    width: 17px;
    height: 17px;
    top: 62%;
    fill: $color-golden-tainoi;
}
#ID2019 {
    position: absolute;
    left: 1493.033px;
    top: 84.971px;
    overflow: visible;
    width: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID2014___2018 {
    position: absolute;
    left: 1287px;
    top: 84.867px;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID2006___2013 {
    position: absolute;
    left: 1078px;
    top: 84.867px;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID2002___2006 {
    position: absolute;
    left: 862px;
    top: 84.867px;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID1996___2002_j {
    position: absolute;
    left: 653px;
    top: 84.867px;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID1990___1996 {
    position: absolute;
    left: 448px;
    top: 84.867px;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID1984___1990 {
    position: absolute;
    left: 243.667px;
    top: 84.867px;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}
#ID1973___1984 {
    position: absolute;
    left: 41.334px;
    top: 84.867px;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Infos_pratiques___15.html;
    cursor: pointer;
    text-align: left;
    font-family: Benton Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(38,38,38,1);
}