@import "colors.scss";

.close {
  cursor: pointer;
}

#close-sidenav-btn {
  padding-right: 105.16px;
  padding-top: 35.48px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
}

.sidenav ul > li {
  display: flex;
}

.sidenav a {
  color: $color-grey;
  text-decoration: none;
}

.sidenav a:hover {
  color: $color-nero;
}

.sidenav .sidenav-link-item-nero:hover::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-nero; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 40px;
  margin-right: 12px;
}

.sidenav .sidenav-link-item-dark-pastel-green:hover::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-dark-pastel-green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 40px;
  margin-right: 12px;
}

.sidenav .sidenav-link-item-golden-tainoi:hover::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-golden-tainoi; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 40px;
  margin-right: 12px;
}

.sidenav .sidenav-link-item-summer-sky:hover::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-summer-sky; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 40px;
  margin-right: 12px;
}

.sidenav .sidenav-link-item-cinnabar:hover::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color-cinnabar; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 40px;
  margin-right: 12px;
}


.sidenav-transparent {
  background-color: rgba($color-nero, 0.67);
}

.sidenav-content {
  background-color: $color-white;
}

.sidenav form > button {
  margin-left: 35%;
  background-color: $color-white;
}


.sidenav-liens {
  font-family: Benton Sans-Bold;
  font-size: 40px;
  margin-bottom: 116px;
  margin-left: 102px;
}

.sidenav-liens ul {
  padding: 0;
}

.sidenav-liens ul > li {
  margin-bottom: 15px;
}


.sidenav-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.sidenav-header span {
  padding: 25px 0 86px 102px;
}

#sidenav-site-search {
  border: none;
  margin-bottom: 10px;
  width: 90%;
  ::placeholder{
    color: $color-nero;
  }
}

.search-label{
  margin-bottom: 1.438rem;
}
.recherche {
  margin: 0 102px 80px 102px;

  .search-icon{
    float: right;
  }

  .search-icon button {
    background-image: url(../media/img/Desktop/Footer/Icones/Recherche.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: $color-white;
  }
}

.reseaux-header {
  display: flex;
  padding: 0;
  margin: 0;
}

.reseaux-header li {
  padding: 0 20px 0 0;
}

.langue {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.langue p {
  display: inline-flex;
  padding-left: 45px;
  margin: 0;
}

.partage {
  display: flex;
  margin: 0 102px 20px 102px;
}

.francais {
  margin-left: 55%;
}

.copyright-side {
  color: $color-grey;
  margin-left: 102px;
}