@import 'colors.scss';
.container{
    background: $color-white;
    padding: 30px 134px;
}

.wrapper {
    margin-right: 134px; /* 1 */
    margin-left:  134px; /* 1 */
}

.pastille-collections{
    float: left;
    margin: 39px 0 0 12px;
    width: 12px;
    height: 12px;
    fill: $color-summer-sky;
}