@import 'colors.scss';
.container{
    background: $color-white;
    padding: 30px 134px;
}

.wrapper {
    margin-right: 134px; /* 1 */
    margin-left:  134px; /* 1 */
}

.flex{
    display: flex;
}
.flex-baseline{
    align-items: baseline;
}
.flex-center{
    align-items: center;
}

.pastille-collections{
    float: left;
    margin: 39px 0 0 12px;
    width: 12px;
    height: 12px;
    fill: $color-summer-sky;
}

.pastille-musee {
    float: none;
    margin: 39px 0 0 12px;
    width: 12px;
    height: 12px;
    fill: $color-golden-tainoi;
}