/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-golden-tainoi {
  color: #F9C149; }

.color-cinnabar {
  color: #EF4B28; }

.color-dark-pastel-green {
  color: #00C64B; }

.color-summer-sky {
  color: #30C4EE; }

.color-snow {
  color: #FBFBFB; }

.color-white {
  color: #FFFFFF; }

.color-whisper {
  color: #ECECEC; }

.color-very-light-grey {
  color: #CCCCCC; }

.color-grey {
  color: #888888; }

.color-nero {
  color: #262626; }

@font-face {
  font-family: Benton Sans-Regular;
  src: url("../fonts/BentonSans Regular.otf"); }

@font-face {
  font-family: Benton Sans-Medium;
  src: url("../fonts/BentonSans Medium.otf"); }

@font-face {
  font-family: Benton Sans-Book;
  src: url("../fonts/BentonSans Book.otf"); }

@font-face {
  font-family: Benton Sans-Bold;
  src: url("../fonts/BentonSans Bold.otf"); }

.liens {
  color: #888888; }

.liens:hover {
  color: #262626; }

.search {
  background-image: url("../media/img/Desktop/Footer/Icones/Recherche.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 31%;
  background-color: #FFFFFF; }

.millieu {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 130px 0; }

.millieu ul, .millieu ul:active, .millieu ul:focus {
  padding: 0;
  margin: 0; }

.millieu a {
  color: #888888;
  text-decoration: none; }

.millieu a:hover {
  color: #262626; }

.millieu ul > li {
  display: flex; }

footer p.titre-intro {
  width: 66%; }

.liste-mecenes {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.liste-mecenes li {
  display: inline-flex; }

.reseaux {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 20px 0; }

.reseaux li {
  display: inline-flex;
  padding-left: 45px; }

.haut {
  display: flex; }

input#site-search {
  border: none;
  margin-bottom: 10px;
  flex: auto; }
  input#site-search ::placeholder {
    color: #262626; }

form {
  border-bottom: 4px solid #262626; }

.copyright {
  color: #888888;
  margin-top: 63px; }
