/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-golden-tainoi {
  color: #F9C149; }

.color-cinnabar {
  color: #EF4B28; }

.color-dark-pastel-green {
  color: #00C64B; }

.color-summer-sky {
  color: #30C4EE; }

.color-snow {
  color: #FBFBFB; }

.color-white {
  color: #FFFFFF; }

.color-whisper {
  color: #ECECEC; }

.color-very-light-grey {
  color: #CCCCCC; }

.color-grey {
  color: #888888; }

.color-nero {
  color: #262626; }

.dot-dark-pastel-green-after:after {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00C64B;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  font-size: 40px;
  vertical-align: sub; }

#caleandar .cld-main {
  width: auto; }
  #caleandar .cld-main .cld-labels {
    padding-bottom: 1rem; }
  #caleandar .cld-main .cld-day {
    padding-bottom: 1rem; }

.cld-rwd.cld-nav > svg {
  fill: #00C64B; }

.cld-fwd.cld-nav > svg {
  fill: #00C64B; }

.cld-day.nextMonth {
  color: #00C64B !important; }

.cld-day.today .cld-number {
  background: #00C64B !important;
  border: 1px solid #00C64B !important;
  color: white; }

.cld-number.eventday {
  border: none !important;
  color: black; }

.cld-number.eventday:after {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00C64B;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: block;
  /* Needed to add space between the bullet and the text */
  font-size: 24px;
  vertical-align: sub; }

.card-programmation {
  display: flex;
  width: 54.25rem;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 2.25rem; }
  .card-programmation .text-programmation {
    margin-right: 7.563rem; }
  .card-programmation .img-programmation {
    margin-right: 5.563rem; }
    .card-programmation .img-programmation img {
      display: inherit;
      width: 17.313rem;
      height: 100%; }
  .card-programmation .inline-block .titre-intro {
    margin: 0;
    color: #888888; }
  .card-programmation .inline-block h3 {
    text-transform: uppercase;
    margin-top: 0.75rem;
    margin-bottom: 1.869rem; }
  .card-programmation .inline-block p {
    margin: 0 0 1.069rem; }
