@font-face {
  font-family: Benton Sans-Regular;
  src: url("../fonts/BentonSans Regular.otf"); }

@font-face {
  font-family: Benton Sans-Medium;
  src: url("../fonts/BentonSans Medium.otf"); }

@font-face {
  font-family: Benton Sans-Book;
  src: url("../fonts/BentonSans Book.otf"); }

@font-face {
  font-family: Benton Sans-Bold;
  src: url("../fonts/BentonSans Bold.otf"); }

/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
  /* For wide screens: */
  .xLarge-1 {
    width: 8.33%; }
  .xLarge-2 {
    width: 16.66%; }
  .xLarge-3 {
    width: 25%; }
  .xLarge-4 {
    width: 33.33%; }
  .xLarge-5 {
    width: 41.66%; }
  .xLarge-6 {
    width: 50%; }
  .xLarge-7 {
    width: 58.33%; }
  .xLarge-8 {
    width: 66.66%; }
  .xLarge-9 {
    width: 75%; }
  .xLarge-10 {
    width: 83.33%; }
  .xLarge-11 {
    width: 91.66%; }
  .xLarge-12 {
    width: 100%; }
  #burger {
    display: none; }
  nav ul {
    visibility: visible; }
  .titre-footer {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 28px; }
  .titre-intro {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px; }
  .lien-menu {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 46px; }
  H1 {
    font-family: Benton Sans-Bold;
    font-size: 55px;
    line-height: 59px; }
  H2 {
    font-family: Benton Sans-Bold;
    font-size: 44px;
    line-height: 59px; }
  H3 {
    font-family: Benton Sans-Bold;
    font-size: 37px;
    line-height: 39px; }
  H4 {
    font-family: Benton Sans-Bold;
    font-size: 26px;
    line-height: 28px; }
  .bouton {
    font-family: Benton Sans-Medium;
    font-size: 28px;
    line-height: 37px; }
  .texte-reduit {
    font-family: Benton Sans-Regular;
    font-size: 22px;
    line-height: 28px; }
  .dates {
    font-family: Benton Sans-Medium;
    font-size: 20px;
    line-height: 24px; }
  .artiste-pleine-page {
    font-family: Benton Sans-Bold;
    font-size: 80px;
    line-height: 85px; }
  .legende-pleine-page {
    font-family: Benton Sans-Medium;
    font-size: 27px;
    line-height: 42px; }
  .texte-pleine-page {
    font-family: Benton Sans-Light;
    font-size: 18px;
    line-height: 28px; }
  .ancre {
    font-family: Benton Sans-Bold;
    font-size: 14px;
    line-height: 17px; }
  .texte-labeur {
    font-family: Benton Sans-Regular;
    font-size: 16px;
    line-height: 24px; }
  .legende {
    font-family: Benton Sans-Regular;
    font-size: 57px;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: -3px; }
  .cat-periode {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #888888; } }

@media only screen and (min-width: 980px) and (max-width: 1279px) {
  /* For desktop: */
  .large-1 {
    width: 8.33%; }
  .large-2 {
    width: 16.66%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.33%; }
  .large-5 {
    width: 41.66%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.33%; }
  .large-8 {
    width: 66.66%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.33%; }
  .large-11 {
    width: 91.66%; }
  .large-12 {
    width: 100%; }
  #burger {
    display: none; }
  nav ul {
    visibility: visible; }
  .titre-footer {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 28px; }
  .titre-intro {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px; }
  .lien-menu {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 46px; }
  H1 {
    font-family: Benton Sans-Bold;
    font-size: 55px;
    line-height: 59px; }
  H2 {
    font-family: Benton Sans-Bold;
    font-size: 44px;
    line-height: 59px; }
  H3 {
    font-family: Benton Sans-Bold;
    font-size: 37px;
    line-height: 39px; }
  H4 {
    font-family: Benton Sans-Bold;
    font-size: 26px;
    line-height: 28px; }
  .bouton {
    font-family: Benton Sans-Medium;
    font-size: 28px;
    line-height: 37px; }
  .texte-reduit {
    font-family: Benton Sans-Regular;
    font-size: 22px;
    line-height: 28px; }
  .dates {
    font-family: Benton Sans-Medium;
    font-size: 20px;
    line-height: 24px; }
  .artiste-pleine-page {
    font-family: Benton Sans-Bold;
    font-size: 80px;
    line-height: 85px; }
  .legende-pleine-page {
    font-family: Benton Sans-Medium;
    font-size: 27px;
    line-height: 42px; }
  .texte-pleine-page {
    font-family: Benton Sans-Light;
    font-size: 18px;
    line-height: 28px; }
  .ancre {
    font-family: Benton Sans-Bold;
    font-size: 14px;
    line-height: 17px; }
  .texte-labeur {
    font-family: Benton Sans-Regular;
    font-size: 16px;
    line-height: 24px; }
  .legende {
    font-family: Benton Sans-Regular;
    font-size: 57px;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: -3px; }
  .cat-periode {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #888888; } }

@media only screen and (min-width: 520px) and (max-width: 979px) {
  /* For tablets: */
  .medium-1 {
    width: 8.33%; }
  .medium-2 {
    width: 16.66%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.33%; }
  .medium-5 {
    width: 41.66%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.33%; }
  .medium-8 {
    width: 66.66%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.33%; }
  .medium-11 {
    width: 91.66%; }
  .medium-12 {
    width: 100%; }
  #burger {
    display: flex; }
  nav ul {
    visibility: hidden; }
  .titre-footer {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 28px; }
  .titre-intro {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px; }
  .lien-menu {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 46px; }
  H1 {
    font-family: Benton Sans-Bold;
    font-size: 55px;
    line-height: 59px; }
  H2 {
    font-family: Benton Sans-Bold;
    font-size: 44px;
    line-height: 59px; }
  H3 {
    font-family: Benton Sans-Bold;
    font-size: 37px;
    line-height: 39px; }
  H4 {
    font-family: Benton Sans-Bold;
    font-size: 26px;
    line-height: 28px; }
  .bouton {
    font-family: Benton Sans-Medium;
    font-size: 28px;
    line-height: 37px; }
  .texte-reduit {
    font-family: Benton Sans-Regular;
    font-size: 22px;
    line-height: 28px; }
  .dates {
    font-family: Benton Sans-Medium;
    font-size: 20px;
    line-height: 24px; }
  .artiste-pleine-page {
    font-family: Benton Sans-Bold;
    font-size: 80px;
    line-height: 85px; }
  .legende-pleine-page {
    font-family: Benton Sans-Medium;
    font-size: 27px;
    line-height: 42px; }
  .texte-pleine-page {
    font-family: Benton Sans-Light;
    font-size: 18px;
    line-height: 28px; }
  .ancre {
    font-family: Benton Sans-Bold;
    font-size: 14px;
    line-height: 17px; }
  .texte-labeur {
    font-family: Benton Sans-Regular;
    font-size: 16px;
    line-height: 24px; }
  .legende {
    font-family: Benton Sans-Regular;
    font-size: 57px;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: -3px; }
  .cat-periode {
    font-family: Benton Sans-Regular;
    font-size: 24px;
    line-height: 28px;
    color: #888888; }
  footer div:nth-child(2) .footerUl {
    border: none !important; } }

@media only screen and (min-width: 260px) and (max-width: 519px) {
  /* For mobile: */
  .small-1 {
    width: 8.33%; }
  .small-2 {
    width: 16.66%; }
  .small-3 {
    width: 25%; }
  .small-4 {
    width: 33.33%; }
  .small-5 {
    width: 41.66%; }
  .small-6 {
    width: 50%; }
  .small-7 {
    width: 58.33%; }
  .small-8 {
    width: 66.66%; }
  .small-9 {
    width: 75%; }
  .small-10 {
    width: 83.33%; }
  .small-11 {
    width: 91.66%; }
  .small-12 {
    width: 100%; }
  #burger {
    display: flex; }
  nav ul {
    visibility: hidden; }
  .titre-footer {
    font-family: Benton Sans-Bold;
    font-size: 20px;
    line-height: 28px; }
  .titre-intro {
    font-family: Benton Sans-Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px; }
  .lien-menu {
    font-family: Benton Sans-Bold;
    font-size: 32px;
    line-height: 36px; }
  H1 {
    font-family: Benton Sans-Bold;
    font-size: 25px;
    line-height: 26px; }
  H2 {
    font-family: Benton Sans-Medium;
    font-size: 25px;
    line-height: 26px; }
  H3 {
    font-family: Benton Sans-Bold;
    font-size: 23px;
    line-height: 22px; }
  H4 {
    font-family: Benton Sans-Bold;
    font-size: 17px;
    line-height: 28px; }
  .bouton {
    font-family: Benton Sans-Medium;
    font-size: 21px;
    line-height: 28px; }
  .texte-reduit {
    font-family: Benton Sans-Regular;
    font-size: 13px;
    line-height: 13px; }
  .dates {
    font-family: Benton Sans-Medium;
    font-size: 12px;
    line-height: 14px; }
  .artiste-pleine-page {
    font-family: Benton Sans-Bold;
    font-size: 30px;
    line-height: 31px; }
  .legende-pleine-page {
    font-family: Benton Sans-Medium;
    font-size: 21px;
    line-height: 33px; }
  .texte-pleine-page {
    font-family: Benton Sans-Book;
    font-size: 15px;
    line-height: 24px; }
  .ancre {
    font-family: Benton Sans-Bold;
    font-size: 9px;
    line-height: 11px; }
  .texte-labeur {
    font-family: Benton Sans-Regular;
    font-size: 13px;
    line-height: 22px; }
  .legende {
    font-family: Benton Sans-Regular;
    font-size: 28px;
    line-height: 39px;
    text-transform: uppercase;
    letter-spacing: -3px; }
  .cat-periode {
    font-family: Benton Sans-Regular;
    font-size: 19px;
    line-height: 22px;
    color: #888888; }
  footer div:nth-child(2) .footerUl {
    border: none !important; } }
