.close {
  padding-right: 105.16px;
  padding-top: 35.48px; }

.sidenav ul > li {
  display: flex; }

.sidenav a {
  color: #888888;
  text-decoration: none; }

.sidenav-liens {
  font-family: Benton Sans-Bold;
  font-size: 40px; }

.sidenav-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 25.25px; }
