/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.color-golden-tainoi {
  color: #F9C149; }

.color-cinnabar {
  color: #EF4B28; }

.color-dark-pastel-green {
  color: #00C64B; }

.color-summer-sky {
  color: #30C4EE; }

.color-snow {
  color: #FBFBFB; }

.color-white {
  color: #FFFFFF; }

.color-whisper {
  color: #ECECEC; }

.color-very-light-grey {
  color: #CCCCCC; }

.color-grey {
  color: #888888; }

.color-nero {
  color: #262626; }

.container {
  background: #FFFFFF;
  padding: 30px 134px; }

.wrapper {
  margin-right: 134px;
  /* 1 */
  margin-left: 134px;
  /* 1 */ }

.flex {
  display: flex; }

.flex-auto {
  flex: auto; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.flex-baseline {
  align-items: baseline; }

.flex-center {
  align-items: center; }

.inline-block {
  display: inline-block; }

.pastille-collections {
  float: left;
  margin: 39px 0 0 12px;
  width: 12px;
  height: 12px;
  fill: #30C4EE; }

.pastille-musee {
  float: none;
  margin: 39px 0 0 12px;
  width: 12px;
  height: 12px;
  fill: #F9C149; }

.dot-cinnabar-after:after {
  content: "\2022";
  color: #EF4B28;
  font-weight: bold;
  display: inline-block;
  font-size: 40px;
  vertical-align: sub;
  margin-left: 1.875rem; }

.dot-dark-pastel-green-after:after {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00C64B;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  font-size: 40px;
  vertical-align: sub;
  margin-left: 1.875rem; }

.title-content {
  text-transform: uppercase; }

.no-margin {
  margin: 0; }
